@page
@model NewDetailModel

<h2>New Team Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Team ID</dt>
        <dd class="col-sm-10">N/A</dd>

        <dt class="col-sm-2">Team Name</dt>
        <dd class="col-sm-10">N/A</dd>

        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">N/A</dd>
    </dl>
</div>

<div>
    <a href="javascript:void(0);" onclick="showAlert()" class="btn btn-warning">Edit</a> 
    <form method="post" asp-page="./Delete" asp-route-id="@Model.Team.teamid" style="display:inline;">
        <button type="submit" class="btn btn-danger">Delete</button> 
    </form>
    <a asp-page="/Teams/Create" class="btn btn-primary">New</a>
    <a asp-page="/Teams/Index" class="btn btn-secondary">Cancel</a> 
</div>

<script>
    function showAlert() {
        alert("No data available to edit. Please create a new team first.");
    }
</script>
